.country{
    border: 3px solid chocolate;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    

}
.img1{
    width: 15rem;
    /* margin: auto; */
    height: 10rem;
}
.visited{
    background-color: bisque;
}